ul.card-list
  li.card-list__item
    .card
      .card__top
        .card__discount
          .discount.discount--red -40%
        button(aria-label="like").card__like
          span.icon-like.icon-like--opacity
            +icon(name="like")
        img(src='images/cat-1.png' width="380" height="264" alt='img').card__img
      .card__middle
        .card-info
          .card-info__name Кот полосатый
          .card-info__items
            .card-info__color Коричневый окрас
            .card-info__description
              .card-info__age 2 мес.
              .card-info__age-name Возраст
            .card-info__description
              .card-info__count-feet 4
              .card-info__count-feet-name Кол-во лап
          .card-info__price 30 000 руб.
      .card__bottom
        .card__button
          button.btn Купить
          button.btn.btn--black.d-none Продан
  li.card-list__item
    .card
      .card__top
        .card__discount.d-none
          .discount.discount--red -40%
        button(aria-label="like").card__like
          span.icon-like
            +icon(name="like")
        img(src='images/cat-2.png' width="380" height="264" alt='img').card__img
      .card__middle
        .card-info
          .card-info__name Кот полосатый
          .card-info__items
            .card-info__color Коричневый окрас
            .card-info__description
              .card-info__age 2 мес.
              .card-info__age-name Возраст
            .card-info__description
              .card-info__count-feet 4
              .card-info__count-feet-name Кол-во лап
          .card-info__price 40 000 руб.
      .card__bottom
        .card__button
          button.btn.d-none Купить
          button.btn.btn--black Продан
  li.card-list__item
    .card
      .card__top
        .card__discount.d-none
          .discount.discount--red -40%
        button(aria-label="like").card__like
          span.icon-like.icon-like--opacity
            +icon(name="like")
        img(src='images/cat-3.png' width="380" height="264" alt='img').card__img
      .card__middle
        .card-info
          .card-info__name Кот полосатый
          .card-info__items
            .card-info__color Коричневый окрас
            .card-info__description
              .card-info__age 2 мес.
              .card-info__age-name Возраст
            .card-info__description
              .card-info__count-feet 4
              .card-info__count-feet-name Кол-во лап
          .card-info__price 20 000 руб.
      .card__bottom
        .card__button
          button.btn Купить
          button.btn.btn--black.d-none Продан
  li.card-list__item
    .card
      .card__top
        .card__discount.d-none
          .discount.discount--red -40%
        button(aria-label="like").card__like
          span.icon-like.icon-like--opacity
            +icon(name="like")
        img(src='images/cat-1.png' width="380" height="264" alt='img').card__img
      .card__middle
        .card-info
          .card-info__name Кот полосатый
          .card-info__items
            .card-info__color Коричневый окрас
            .card-info__description
              .card-info__age 2 мес.
              .card-info__age-name Возраст
            .card-info__description
              .card-info__count-feet 4
              .card-info__count-feet-name Кол-во лап
          .card-info__price 25 000 руб.
      .card__bottom
        .card__button
          button.btn Купить
          button.btn.btn--black.d-none Продан
  li.card-list__item
    .card
      .card__top
        .card__discount
          .discount.discount--red -40%
        button(aria-label="like").card__like
          span.icon-like.icon-like--opacity
            +icon(name="like")
        img(src='images/cat-3.png' width="380" height="264" alt='img').card__img
      .card__middle
        .card-info
          .card-info__name Кот полосатый
          .card-info__items
            .card-info__color Коричневый окрас
            .card-info__description
              .card-info__age 2 мес.
              .card-info__age-name Возраст
            .card-info__description
              .card-info__count-feet 4
              .card-info__count-feet-name Кол-во лап
          .card-info__price 30 000 руб.
      .card__bottom
        .card__button
          button.btn Купить
          button.btn.btn--black.d-none Продан
  li.card-list__item
    .card
      .card__top
        .card__discount.d-none
          .discount.discount--red -40%
        button(aria-label="like").card__like
          span.icon-like
            +icon(name="like")
        img(src='images/cat-2.png' width="380" height="264" alt='img').card__img
      .card__middle
        .card-info
          .card-info__name Кот полосатый
          .card-info__items
            .card-info__color Коричневый окрас
            .card-info__description
              .card-info__age 2 мес.
              .card-info__age-name Возраст
            .card-info__description
              .card-info__count-feet 4
              .card-info__count-feet-name Кол-во лап
          .card-info__price 10 000 руб.
      .card__bottom
        .card__button
          button.btn.d-none Купить
          button.btn.btn--black Продан
