.content
  .content__layout
    .wrapper
      .content__inner
        .content__header
          .content__header-description Сортировать по:
          .content__header-sort
            .sort
              ul.sort__list
                li.sort__list-item
                  .sort__list-item-name Цене
                  .sort__list-item-icon
                    +icon(name="arrow-down").icon-price
                li.sort__list-item
                  .sort__list-item-name Возрасту
                  .sort__list-item-icon
                    +icon(name="arrow-down").icon-price
        .content__list
          include ../components/Card
        .content__footer
          .content__footer-inner
            .content__footer-btn
              button.btn.btn--white Показать еще 20
            .content__footer-arrow
              button.content-arrow(id="scroll-top")
                +icon(name="content-arrow").content-arrow__icon