footer.footer
  .wrapper
    .footer__inner
      .footer__title
        .footer__title-text Успей купить!
        .footer__description Подпишись и успей словить все акции
      .footer__active
        .footer__form
          form.form
            .form__input-text
              input(type="text" placeholder="Email").input-text
            .form__checkbox
              label(for="checkbox").label-checkbox checkbox
                input(id="checkbox" name="checkbox" type="checkbox").input-checkbox
                span.checkbox
              .form__checkbox-text Подписаться на новости
        .footer__button
          button.btn.btn--border Подписаться