header.header
  .header__layout
    .wrapper
      .header__inner
        .header__conteiner
          .header__logo
            span.logo-img
              +icon(name="logo")
          .header__menu
            .menu
              ul.menu__list
                li.menu__item
                  a(href="#" aria-label="menu-link").menu__item-link Main
                li.menu__item
                  a(href="#" aria-label="menu-link").menu__item-link Gallery
                li.menu__item
                  a(href="#" aria-label="menu-link").menu__item-link News
                li.menu__item
                  a(href="#" aria-label="menu-link").menu__item-link Profile
        .header__mobile-menu
          .menu-burger__mobile.d-none
            ul.menu-burger__mobile-list
              li.menu-burger__mobile-item
                a(href="#" aria-label="menu-link").menu-burger__mobile-link Main
              li.menu-burger__mobile-item
                a(href="#" aria-label="menu-link").menu-burger__mobile-link Gallery
              li.menu-burger__mobile-item
                a(href="#" aria-label="menu-link").menu-burger__mobile-link News
            .menu-burger__mobile-phone +544 3490 00000
            .menu-burger__mobile-description Звони скорее!
          .menu-burger
            span.menu-burger__line
            span.menu-burger__line.menu-burger__line--hidden
            span.menu-burger__line
        .header__contacts
          .header__contacts-number +544 3490 00000
          .header__contacts-description Звони скорее!
      .header__title
        .header__title-description Найдено 349 котов