.btn
  position: relative
  width: 100%
  padding: 21px 56px 22px 55px
  background-color: $color-blue
  font-weight: bold
  font-size: 16px
  line-height: 20px
  color: $color-white
  border-radius: 0 0 10px 10px
  top: 0
  justify-content: space-around
  z-index: 2
  transition: all 0.2s

  &:active
    top: 2px
    box-shadow:
      0 0 1px rgba(0,0,0,.5) inset,
      0 2px 3px rgba(0,0,0,.5) inset,
      0 1px 1px rgba(255,255,255,.1)

  &--border
    border-radius: 10px
    max-width: 250px

  &--black
    background-color: $color-black-grey

  &--white
    padding: 23px
    border: 1px solid $color-grey-light
    background: $color-white
    border-radius: 10px
    font-size: 14px
    line-height: 17px
    max-width: 380px
    width: 100%
    color: $color-black
    font-weight: normal
