.card-list
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  margin: 0 -10.5px

  &__item
    width: 100%
    position: relative
    margin: 0px 10.5px 26px 10.5px
    margin-bottom: 26px

    +above($breakpoints.sm)
      width: 380px

.card
  &__discount
    position: absolute
    top: 35px
    left: 35px
    width: 78px

  &__like
    position: absolute
    right: 33px
    top: 35px

  &__img
    max-width: 100%
    display: block
    object-fit: cover
    width: 100%

.card-info
  background-color: $color-white-grey
  padding: 29px 33px 31px 29px

  &__name
    font-weight: bold
    font-size: 24px
    line-height: 29px
    margin-bottom: 21px
    letter-spacing: 0.7px

  &__items
    display: flex
    border-left: 4px solid $color-blue
    justify-content: space-between
    padding: 2px 0px 0px 18px
    margin-bottom: 19px

  &__color,
  &__age-name,
  &__count-feet-name
    font-size: 12px
    line-height: 15px
    width: 89px

  &__age,
  &__count-feet
    font-weight: bold
    font-size: 16px
    line-height: 20px
    margin-left: 4px

  &__price
    font-weight: bold
    font-size: 24px
    line-height: 29px
    letter-spacing: 0.6px

.icon-like
  opacity: 1

  &--opacity
    opacity: 0.5
