.content
  &__header
    display: flex
    flex-direction: column
    padding: 37px 0px

    +above($breakpoints.sm)
      flex-direction: row

  &__header-description
    font-weight: bold
    font-size: 18px
    line-height: 22px
    margin-right: 24px
    letter-spacing: 0.5px
    margin-bottom: 20px

    +above($breakpoints.sm)
      margin-bottom: 0px

  &__footer-inner
    padding: 39px 0px 82px 0px

  &__footer-btn
      max-width: 380px
      margin: 0 auto

  &__footer-arrow
    width: 59px
    position: fixed
    left: auto
    bottom: 9px
    margin: 0 auto
    right: 14px
    z-index: 3

    +above($breakpoints.xxl)
      left: 0
      right: -1119px

.sort
  &__list
    display: flex
    flex-direction: column

    +above($breakpoints.sm)
      flex-direction: row

  &__list-item
    display: flex
    padding: 1px 25px
    margin-right: 8px
    letter-spacing: 0.7px
    margin-bottom: 20px

    +above($breakpoints.sm)
      margin-bottom: 0px

  &__list-item-icon
    margin-left: 20px
    display: flex
    justify-content: center
    align-items: center

.content-btn
  padding: 23px
  border: 1px solid $color-grey-light
  border-radius: 10px
  font-size: 14px
  line-height: 17px
  max-width: 380px
  width: 100%

.content-arrow
  width: 59px
  height: 59px
  background-color: $color-blue
