.discount
  padding: 9px 19px 10px 18px
  font-size: 16px
  line-height: 20px
  border-radius: 10px

  &--red
    background-color: $color-red
    color: $color-white

  &--green
    background-color: $color-green
    color: $color-white
