.footer
  &__inner
    background-color: $color-black-grey
    padding: 83px 30px 0px 30px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin-bottom: 114px

    +above($breakpoints.md)
      flex-direction: row

    +above($breakpoints.xxl)
      align-items: normal
      justify-content: space-between
      padding: 83px 80px 0px 80px

  &__title
    color: $color-white
    text-align: center

    +above($breakpoints.md)
      text-align: initial

  &__title-text
    font-weight: bold
    font-size: 20px
    line-height: 30px
    margin-bottom: 26px
    letter-spacing: 1.8px

    +above($breakpoints.sm)
      font-size: 35px
      line-height: 49px

    +above($breakpoints.lg)
      font-size: 48px
      line-height: 59px

  &__description
    font-size: 18px
    line-height: 90%
    margin-bottom: 44px
    max-width: 401px

    +above($breakpoints.md)
      margin-bottom: 93px

    +above($breakpoints.lg)
      font-size: 28px
      line-height: 91.2%

  &__active
    display: flex
    flex-direction: column
    padding: 9px 0px 0px 0px
    margin-bottom: 50px

    +above($breakpoints.xxl)
      margin-bottom: 0px
      flex-direction: row

  &__form
    margin-right: 0px

    +above($breakpoints.md)
      margin-right: 18px
    
  &__button
    display: flex
    justify-content: center
    min-width: 250px

    +above($breakpoints.md)
      display: block
    
.form
  display: flex
  justify-content: center
  flex-direction: column
  margin-bottom: 24px

  +above($breakpoints.xxl)
    margin-bottom: 0px

  &__input-text
    min-width: 250px
    margin-bottom: 24px

    +above($breakpoints.sm)
      min-width: 300px

  &__checkbox
    display: flex
    align-items: center
    justify-content: center

    +above($breakpoints.md)
      justify-content: flex-start
    
  &__checkbox-text
    font-size: 14px
    line-height: 17px
    color: $color-white

.input-text
  width: 100%
  padding: 22px 10px 26px 33px
  outline: none
  border-radius: 10px
  border: 0

.label-checkbox
  position: relative
  cursor: pointer
  padding: 10px
  margin-right: 18px
  font-size: 0

.input-checkbox
  position: absolute
  opacity: 0
  width: 0
  height: 0

.checkbox
  position: absolute
  top: 0
  left: 0
  width: 20px
  height: 20px
  background-color: $color-white
  transition: all 0.5s
  border-radius: 3px

  &:after
    content: ""
    position: absolute
    display: none
    left: 7px
    top: 3px
    width: 3px
    height: 8px
    border: solid $color-white
    border-width: 0 3px 3px 0
    transform: rotate(45deg)

.label-checkbox:hover .checkbox
  background-color: $color-white

.label-checkbox .input-checkbox:checked ~ .checkbox
  background-color: $color-blue

  &:after
    display: block
