$base-font-family = "Montserrat"

$breakpoints = {
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 891px,
  xl: 1180px,
  xxl: 1223px
  xxxl: 1426px
}

$color-primary = #74ee15
$color-error = #d94c4c
$color-success = #35b24a
$color-warning = #ffa526
$color-green = 	#008000
$color-red = #E52D2D
$color-dark = #333333
$color-white = #FFFFFF
$color-white-grey= #F3F3F3
$color-grey = #999999
$color-blue = #6EBBD3
$color-black-grey = #1F2021
$color-grey-light = #CACACA
$color-black = #000000
